#
# get rid of unexpected files
#
*

# except, keep .gitignore
!.gitignore

# keep expected files
!00lib-g
!00lib-gp
!00lib-o
!libaiagent.a
!libaicsp.a
!libaienvironment.a
!libaifol.a
!libailocalsearch.a
!libaipl.a
!libaisearch.a
